<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

   


    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="pan_platform_joint">
            <command_interface name="position" /> <!--These command and state interface must match yaml controller-->
            <state_interface name="position"/>
        </joint>
        <joint name="tilt_platform_joint">
            <command_interface name="position" />
            <state_interface name="position"/>
        </joint>
    </ros2_control>


 <!-- might not need these-->
    <gazebo reference="pan_platform">
        <material>Gazebo/Blue</material>
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>pan_platform_joint</joint_name>
            <joint_name>tilt_platform_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo reference="tilt_mount_pole">
        <material>Gazebo/White</material>
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>pan_platform_joint</joint_name>
            <joint_name>tilt_platform_joint</joint_name>
        </plugin>
    </gazebo>







    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find my_bot)/config/controllers.yaml</parameters>
            <parameters>$(find my_bot)/config/gaz_ros2_ctl_use_sim.yaml</parameters>
        </plugin>
    </gazebo>

</robot>